# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log

# Virtual envs
.venv/
env/
venv/

# IDEs/editors
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node/React
node_modules/
dist/
build/